In [1]:
import pickle
from methods import return_train_test_split

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
adult_df = pd.read_csv('data.adult.csv')

In [4]:
X_train, X_test, y_train, y_test = return_train_test_split(adult_df)

e:\1.PROGRAMMING\18.ML_Pro_2_semester\_Ensembling_variants\methods.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  adult_df['>50K,<=50K'].replace(['<=50K', '>50K'], [0, 1], inplace=True)
e:\1.PROGRAMMING\18.ML_Pro_2_semester\_Ensembling_variants\methods.py:19: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  adult_df['>50K,<=50K'].replace(['<=50K', '>50K'], [0, 1], inplace=True)

In [5]:
with open('rand_forest_model.pkl', 'rb') as file:
    rand_forest = pickle.load(file)

with open('dec_tree_model.pkl', 'rb') as file:
    dec_tree = pickle.load(file)

In [6]:
rf_pred = rand_forest.predict(X_test)
dt_pred = dec_tree.predict(X_test)

In [7]:
comparative_df = pd.DataFrame({'Таргет': y_test, 'RandomForest': rf_pred, 'DecisionTree': dt_pred})

In [8]:
comparative_df

       Таргет  RandomForest  DecisionTree
5816        1             1             1
5313        1             0             0
4355        0             0             0
3374        0             0             0
15084       0             0             0
...       ...           ...           ...
8097        0             0             0
824         1             1             1
12083       1             1             1
11381       1             1             1
438         0             0             0

[6139 rows x 3 columns]